beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.1
commonmark==0.9.1
dnspython==1.15.0
dnspython3==1.15.0
idna==3.3
Pygments==2.13.0
requests==2.28.1
rich==12.5.1
soupsieve==2.3.2.post1
urllib3==1.26.12
